@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-light: #f2f2f6;
  --color-bg-dark: #000000;
  --color-section-light: #fdfdfd;
  --color-section-dark: #1c1c1e;
  --color-bg-list-light: #f2f1f5;
  --color-bg-list-dark: #1c1c1e;
  --color-text-secondary-light: #6e6e6e;
  --color-text-secondary-dark: #a9a9a9;
  --color-text-tertiary-light: #8a898d;
  --color-icon-gray-light: #8a898d;
  --color-icon-gray-dark: #464649;
  --color-btn-light: #ececec;
  --color-btn-dark: #2b2c2d;
  --color-accent-red: #de4742;
  --font-p: "Poppins", sans-serif;
  --font-h: "Nunito", sans-serif;
  --color-accent-blue-light: #60a5fa;
  --color-accent-blue-medium: #3b82f6;
  --color-accent-blue-dark: #1d4ed8;
  --breakpoint-3xl: 120rem;
  --color-text-primary-dark: #eaeaea;
  --color-text-primary-light: #1a1a1a;
  --color-alert-1: #ad3f44;
  --color-alert-2: #d94b4b;
  --color-alert-3: #c94c4c;
}

@layer utilities {
  .bg-hero {
    background-image: url("/public/bg.png");
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.week-wrapper {
  width: 100%;
  overflow-x: auto;
  min-height: 640px;
}

.week-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(150px, 1fr));
  width: max-content;
}
